h1,p {
  font-family: Lato;
}

.list:hover {
  color: red;
  background-color: beige;
  text-decoration: line-through;
}

.list {
  margin: 10px;
  display: inline;
  align-self: center;
  width: 15%;
}

.done {
  margin: 10px;
  display: inline;
  align-self: center;
  width: 15%;
  color: red;
  background-color: beige;
  text-decoration: line-through;
}
